<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="text" value="D:\projects\epam\text_parser\text.txt"/>
    <add key="restored" value="D:\projects\epam\text_parser\restored.txt"/>
  </appSettings>
</configuration>